@(message:String) 
@import helper._
@import helper.twitterBootstrap._

@main(""){
<div class="hair-reservation">
	<div class="top">
		<div class="storeImage">
		<a href="#"><img
			src="http://imgbp.hotp.jp/CSP/IMG_SRC/35/27/B004033527/B004033527_100-100.jpg" /></a>
		</div>
		<div class="top-middle">
			<div>
				<div>
					<p>
						<a href="#">Ａｓｈ 池袋店</a>
					</p>
					<p>アッシュ イケブクロテン</p>
					<dl>
						<dd>ネット予約OK</dd>
						<dd>即時予約OK</dd>
						<dd>指名予約OK</dd>
						<dd>当日OK</dd>
						<dd>ポイント加盟店</dd>
					</dl>
					<div>
						<div>
							<ul>
								<li><img
									src="/CSP/qrCode/?storeId=H000074881&amp;cellsize=1&amp;margine=5&amp;vos=hbt1082" /></li>
							</ul>
						</div>
						<ul>
							<li>東京都豊島区西池袋１-20-1 アイタワー3階</li>
							<li>池袋駅西口東武ホープセンター12番出口から徒歩1分</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-foot">
			<ul class="p10">
				<li class="pa top10 left10"><a
					href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000074881">
						<span><span>空席查看</span></span>
				</a></li>
				<li>
					<div>
						<p style="height: 19px; overflow: hidden;">
							<a href="#">保存店铺</a>
						</p>
					</div>
				</li>
				<li><a href="#">携帯に送る</a></li>
			</ul>
		</div>

		
		<div class="store-mangment">
			<ul class="bS menuBG cFix">
				<li class="fl"><a href="#" class="bS db salonInformation offL">サロン情報</a>
				</li>
				<li class="fl"><a href="#" class="bS db couponAndMenu offL">クーポン・メニュー</a>
				</li>
				<li class="fl"><a href="#" class="bS db stylist offL">スタイリスト</a>
				</li>
				<li class="fl"><a href="#" class="bS db styleCurrent offL">スタイル</a>
				</li>
				<li class="fl"><a href="#" class="bS db blog offL">ブログ</a></li>
				<li class="fl"><a href="#" class="bS db accessMap offL">地図</a>
				</li>
				<li class="fr"><a href="#" class="bS db kuchikomi offL">口コミ</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="hair-main">
		<div class="">
			<h2 class="hair-style">成人短发</h2>
			<div class="hair-style-save">
				<div class="">
					<p id="">
						<a id="" href="#" class="">保存该发型</a> <a href="#" class=""><span
							class="">マイスタイル</span>に保存済</span></a>
					</p>
				</div>
			</div>
		</div>
		<div class="worker-div">
			<div class="">
				<div>
					<div class="">设计师</div>
					<div class="d10">
						<div class="d11">
							<a href="#"><img
								src="http://imgbp.hotp.jp/CSP/IMG_SRC/51/16/B004005116/B004005116_89-119.jpg" /></a>
						</div>
						<div class="d12">这里成为求职的一个时髦的黑色的头发吧！<br />它也提供了一个知识分子的印象是不是太孩子气，<br />因为它被切断，显示清洁头的形状！
						</div>
					</div>
					<div class="d13">
						<div class="d14">
							<a href="#">山川 大佐</a>
						</div>
						<div class="d15">
							<a href="#" class="">指名预约</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div class="mT30">
				<div class="">风格数据</div>
					<dl class="">
						<dt class="">长度</dt>
						<dd class="">中</dd>
					</dl>
					<dl class="">
						<dt class="">颜色</dt>
						<dd class="">棕色米色</dd>
					</dl>
					<dl class="">
						<dt class="">印象</dt>
						<dd class="">休闲</dd>
					</dl>
					<dl class="">
						<dt class="">菜单内容</dt>
						<dd class="">烫发<br />很受欢迎！！斩+烫发+颜色+治疗☆</dd>
					</dl>
			</div>
			<div class="mT30">
				<div class="">推荐</div>
					<div class="">
						<div class="">
							<dl class="fl fgPink w2em">
								<dt class="">发量</dt>
								<dd class="">
									<span class="">少发</span>
								</dd>
								<dd class="fl">
									<span class="">普通</span>
								</dd>
								<dd class="fl">
									<span class="">多发</span>
								</dd>
							</dl>
							<dl class="fl fgPink w2em">
								<dt class="">发质</dt>
								<dd class="">
									<span class="">柔软</span>
								</dd>
								<dd class="fl">
									<span class="">普通</span>
								</dd>
								<dd class="fl">
									<span class="">偏硬</span>
								</dd>
							</dl>
							<dl class="">
								<dt class="fl fgPink w2em">厚度</dt>
								<dd class="fl">
									<span class="">细</span>
								</dd>
								<dd class="fl">
									<span class="">普通</span>
								</dd>
								<dd class="fl">
									<span class="">粗</span>
								</dd>
							</dl>
							<dl class="">
								<dt class="">习惯</dt>
								<dd class="fl">
									<span class="">なし</span>
								</dd>
								<dd class="fl">
									<span class="">少し</span>
								</dd>
								<dd class="fl">
									<span class="">強い</span>
								</dd>
							</dl>
						</div>
						<dl class="fr w190 bdGrayL pL15">
							<dt class="">脸型</dt>
							<dd class="fl">
								<span class="">丸型</span>
							</dd>
							<dd class="fl">
								<span class="">卵型</span>
							</dd>
							<dd class="fl">
								<span class="">四角</span>
							</dd>
							<dd class="fl mT5">
								<span class="">逆三角</span>
							</dd>
							<dd class="fl mT5">
								<span class="">ベース</span>
							</dd>
						</dl>
					</div>
			</div>

		</div>
	</div>
	<div class="mT20 carouselWrapper" id="jsiCarouselWrapper">
		<div class="carouselInnerWrapper" id="jsiCarouselInnerWrapper">
			<ul class="carousel" id="jsiCarousel">
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/22/30/B004782230/B004782230_89-119.jpg" /></a></li>
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/95/72/B004759572/B004759572_89-119.jpg" /></a></li>
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/14/31/B004471431/B004471431_89-119.jpg" /></a></li>
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/62/49/B004536249/B004536249_89-119.jpg" /></a></li>
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/63/07/B004536307/B004536307_89-119.jpg" /></a></li>
				<!--
									
									 -->
				<li><a href="#" class="db pr"><img
						src="http://imgbp.hotp.jp/CSP/IMG_SRC/61/82/B004536182/B004536182_89-119.jpg" /></a></li>
				<!--
									
									 -->
			</ul>
		</div>
		<p class="carouselPrev disabled">
			<a href="javascript: void(0);" class="db bS btnCarouselPrev offL"
				id="jsiBtnCarouselPrev">前へ</a>
		</p>
		<p class="carouselNext">
			<a href="javascript: void(0);" class="db bS btnCarouselNext offL"
				id="jsiBtnCarouselNext">次へ</a>
		</p>
	</div>
	<div class="mT30">
		<div class="cFix p15 bgLGray">
			<div class="fl w89">
				<img
					src="http://imgbp.hotp.jp/CSP/IMG_SRC/51/16/B004005116/B004005116_89-119.jpg"/>
			</div>
			<div class="">
				<div class="">ご来店お待ちしております</div>
				<div class="">
					<div class="fl">
						<div class="">クリエイティブディレクター</div>
						<div class="">
							山川 大輔<span class="fs10 mL5">ヤマカワ ダイスケ</span>
						</div>
					</div>
				</div>
				<ul class="cFix mT10">
					<li class="fr mL10"><a
						href="#"
						class="bS db nominatedReserve offL">指名して予約する</a></li>
					<li class="fr mL10 mT3"><a
						href="#"
						class="bS db addIntoMyStylist offL">マイスタイリストに保存</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="detailS couponListHead pr">
		<dl class="pa top0 left210 cFix fs10">
			<dt class="iS couponTypeCT02 offL fl mR5">新規</dt>
			<dd class="fl lh23 fgGray mR20">サロンに初来店の方</dd>
			<dt class="iS couponTypeCT03 offL fl mR5">再来</dt>
			<dd class="fl lh23 fgGray mR20">サロンに2回目以降にご来店の方</dd>
			<dt class="iS couponTypeCT01 offL fl mR5">全員</dt>
			<dd class="fl lh23 fgGray">サロンにご来店の全員の方</dd>
		</dl>
	</div>
	<div class="pH10 mT10 cFix">
		<p class="fl">※クーポンの利用条件と提示条件などの詳細は、リンク先の「クーポン・メニュー」画面をご確認ください。</p>
		<p class="fr">
			<a href="#"
				class="">クーポンの使い方</a>
		</p>
	</div>
	<div class="mT10">
							<table summary="summary" cellspacing="1" class="mT2 wFull bgLGray6 fs10 couponTable">
								<tbody>
									<tr>
										<td class="bgPink8 fgWhite bd0 taC p5 fs12 b">
											
											新<br />規
											</td>
										<td class="w554 bgWhite">
											<div class="w534 p10">
												<div class="">
													<div class="">
														<ul class="couponMenuIcons-fs10-cFix">
															<li class="couponMenuIcon mB5">カット</li>
																<li class="couponMenuIcon mB5">カラー</li>
																<li class="couponMenuIcon mB5">トリートメント</li>
																</ul>
													</div>
													<div class="mT5 b fs12 cFix">
														<p class="fl"><a href="http://beauty.hotpepper.jp/slnH000107887/coupon/#couponList" class="db lh23 b">[小顔カット]＋モロッカンカラー＋ハニートリートメント¥8000</a></p>
														<p class="fr fgRed"><span class="fs13">¥8,000</span></p>
													</div>
												</div>
												<dl class="mT10">
													<dt class="di fgPink">提示条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">予約時</dd>
													<dt class="di fgPink">利用条件：</dt><dd class="di mR10 pR10 fgGray bdLGrayR">Hot Pepper BeautyのPC/携帯を見たとご予約</dd>
													<dt class="di fgPink">有効期限：</dt><dd class="di mR20 fgGray">2014年03月31日まで</dd>
												</dl>
											</div>
										</td>
										<td class="bdWhite bgLLGray2 vaM">
											<div class=" pV10 fs12">
												<div>
													<a href="" class="btn btn2H50 btnWlines w146 mHA"><span><span>このクーポンで<br />空席確認・予約する</span></span></a>
												</div>
												<div class="mT8 taC"><a href="" class="iS arrowR">メニューを追加して予約する</a></div>
												</div>
										</td>
										</tr>
								</tbody>
							</table>
						</div>
						
</div>	
}
