.storeImage,.top-middle,.top-foot,.hair-style,.hair-style-save{
	float:left;
}
top-middle dd,.fl,.fr{
	float:left;
}
.store-mangment{
	clear:left;
}
.hair-main,.worker-div{
	clear:left;
}
.d11,.d12{
	float:left;
}
.d13,#jsiCarouselWrapper,.mT30{
	clear:left;
}
.d14,.d15,.carousel li{
	float:left;
}